
[submodule "gnl"]
	path = gnl
	branch = so_long
	url = https://github.com/GrolschSec/get_next_line.git

[submodule "mlx"]
	path = mlx
	url = https://github.com/42Paris/minilibx-linux.git
[submodule "ft"]
	path = ft
	branch = so_long
	url = https://github.com/GrolschSec/Libft.git